<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>name</th><th>age</th> <th>rights</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="customer: ${customers}">
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.age}"></td>
        <td th:switch="${customer.admin}">
            <span th:case="true" th:text="'ADMIN'"></span>
            <span th:case="false" th:text="'NOT ADMIN'"></span>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>